.departement {
    fill: rgb(8, 150, 155);
    stroke: rgb(255, 255, 255);
    transition: .2s;
    cursor: pointer;

    &:hover {
        fill: rgb(255, 255, 255);
        stroke: rgb(8, 150, 155);
    }
}

.pannel {
    background: beige;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 5px;

    &#map {
        height: 700px;
        width: 1000px;
    }

    &#selectors {
        height: 50px;
        width: 1000px;
    }

    div {
        margin: 10px 10px 10px 10px;
    }
}